
/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html{
    font-size: 62.5%;

}
body{
    font: 1.6rem 'Open Sans' ,sans-serif;
    margin: 0;
    
}
*{
    box-sizing: border-box;
}
p{
    line-height: 2.5rem;
}
address{
    font-style: normal;
}
h1,h2,h3,p,blockquote,figure,ul{
    padding: 0;
    margin: 0;
    list-style: none;

}
a{
    text-decoration:none;
    color: #222;
    text-transform: capitalize;
}
input {
    border: 0;
    font-size: inherit;
    outline: transparent;
    transition: all 0.5rem ease-in-out;
}
button{
    border: 0;
    background-color: transparent;
    font-size: initial;
    text-transform: uppercase;
}

/* Thème */

*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}

header h1 {
    display: none;
}

header  nav ul {
    max-width: 40rem;
    margin: 0 0 0 120rem;     
    font-size: 0;
}

header nav ul li {
    font-size: 1.6rem; 
    display: inline-block;
    line-height: 4.5rem;
    text-align: center;
    width: calc(100% / 5);
    transition: all 500ms ease-in-out; 
}

header nav ul li img {
    border-radius: 2rem;
    margin-top: 1rem;
}

main {
    max-width: 60rem;
    margin: 0 auto;
    
}

main div {
    margin: 15rem 0 5rem 0rem;
}

main div img {
    display: block;
    max-width: 100%;
    margin-left: 17rem;
}

main .tab {
    display: block;
    width: 100%;
    border-radius: 4rem;
    line-height: 4rem;
    padding-left: 1rem;
    border: solid rgb(224, 222, 222) .1rem;
    margin-bottom: 2rem;
}
main .tab:hover {
    
    box-shadow: 0 0 1.0rem rgb(189, 188, 188);
}

main .rech {
    display: inline;
    width: 20rem;
    line-height: 4rem;
    margin-left: 8rem;
    margin-top: 1rem;
    background-color: #f8f9fa;
    border-radius: .4rem;
}

main .rech:hover, main .rock:hover {
    box-shadow: 0 0 1.0rem rgb(189, 188, 188);
}

main .rock {
    display: inline;
    width: 20rem;
    line-height: 4rem;
    margin-left: 4rem;
    background-color: #f8f9fa;
    border-radius: .4rem;
}

main div:nth-of-type(2) {
    margin: 3rem 0 0 20rem;
}

main div:nth-of-type(2) a {
    color: rgb(36, 12, 248);
}

footer {
    position: fixed;
    top: 88%;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
}

footer p {
   border-bottom: solid rgb(224, 222, 222) .1rem;
   padding: 1rem;
   color: #808489;

}

footer li {
    font-size: 1.6rem; 
    display: inline;
    line-height: 2.5rem;
    margin-right: 3rem;
}

footer li a {
    color: #808489;
}

footer ul {
    padding: 1rem;
}
